/* /Pages/Index_v1.razor.rz.scp.css */
.add-char[b-vxxaq9u41o] {
    height: 380px;
    position: relative;
}

.add-char button[b-vxxaq9u41o] {
    position: absolute;
    border: 1px dashed white;
    user-select: none;
    cursor: pointer;

    left: 16px;
    right: 16px;
    top: 16px;
    bottom: 16px;

    font-size: xx-large;
    display: block;
    min-width: 3em;
    text-align: center;
    line-height: 3em;
    margin-left: auto;
    margin-right: auto;
}

.lcars-primary[b-vxxaq9u41o] {
    background-color: #ff7700;
    color: black;
}

.lcars-secondary[b-vxxaq9u41o] {
    background-color: #7788ff;
    color: black;
}

.lcars-margin-down[b-vxxaq9u41o] {
    margin-bottom: 2px;
}

.lcars-margin-up[b-vxxaq9u41o] {
    margin-top: 2px;
}

.lcars-pad-right[b-vxxaq9u41o] {
    padding-right: 120px;
}

.round-top-left[b-vxxaq9u41o] {
    border-top-left-radius: 25px;
}

.round-bottom-left[b-vxxaq9u41o] {
    border-bottom-left-radius: 25px;
}

.round-top-right[b-vxxaq9u41o] {
    border-top-right-radius: 25px;
}

.round-bottom-right[b-vxxaq9u41o] {
    border-bottom-right-radius: 25px;
}

button.gallery[b-vxxaq9u41o] {
    background-color: transparent;
}

img.gallery[b-vxxaq9u41o] {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
/* /Shared/AppRoot.razor.rz.scp.css */
main[b-zfrgpyn35k] {
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

img.icon[b-zfrgpyn35k] {
    height: 1em;
    width: 1em;
    object-fit: contain;
}

.list-item[b-zfrgpyn35k] {
    background: rgb(0,146,192);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0,0,0,0) 60%);
}

.list-item img[b-zfrgpyn35k] {
    object-fit: contain;
    width: 128px;
    height: 128px;
}

.list-item.new-item[b-zfrgpyn35k] {
    border: 1px dashed white;
    width: 128px;
    height: 128px;
    background: transparent !important;
}

span.quicklink[b-zfrgpyn35k] {
    text-align: center;
    display: inline-block
}

select[b-zfrgpyn35k] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

select option[b-zfrgpyn35k] {
    color: black;
}

input[b-zfrgpyn35k] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

input:focus[b-zfrgpyn35k] {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

select:focus[b-zfrgpyn35k] {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.adventure-ship img[b-zfrgpyn35k] {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.adventure-player img[b-zfrgpyn35k] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 640px;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}
/* /Shared/AppSettings.razor.rz.scp.css */
.wide[b-8qcmruebrb] {
    width: 100%
}
/* /Shared/CharacterDrawer.razor.rz.scp.css */
.container[b-uio9babwbw] {
    position: relative;
    border: 1px solid black;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 0;
    page-break-after: always;
}

hr[b-uio9babwbw] {
    border-top-width: 1px;
    border-top-style: dashed;
    margin-top: 2px;
    margin-bottom: 12px;
}

select[b-uio9babwbw] {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

select option[b-uio9babwbw] {
    color: black;
}

input[b-uio9babwbw] {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

input:focus[b-uio9babwbw] {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

textarea[b-uio9babwbw] {
    width: 100%;
    resize: vertical;
    min-height: 4em;
    background: transparent;
    color: white;
}

select:focus[b-uio9babwbw] {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.container.Command[b-uio9babwbw] {
    background: rgb(136,0,0);
    background: linear-gradient(180deg, rgba(136,0,0,1) 29%, rgba(0,0,0,1) 100%);
}

.container.Operations[b-uio9babwbw] {
    background: rgb(224,139,0);
    background: linear-gradient(180deg, rgba(224,139,0,1) 29%, rgba(0,0,0,1) 100%);
}

.container.Sciences[b-uio9babwbw] {
    background: rgb(0,146,192);
    background: linear-gradient(180deg, rgba(0,146,192,1) 29%, rgba(0,0,0,1) 100%);
}

.stroke[b-uio9babwbw] {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.art[b-uio9babwbw] {
    height: 100%;
    max-width: 100%;
    margin-left: auto;
    object-fit: contain;
    z-index: -1;
}

.role[b-uio9babwbw] {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    height: 8em;
    z-index: 1;
}
.role div[b-uio9babwbw] {
    z-index: 1;
    height: 8em;
    overflow: hidden;
    line-height: 2em;
    margin-top: 2em;
}

.role img[b-uio9babwbw] {
    height: 8em;
    z-index: 2;
}

.stat[b-uio9babwbw] {
    box-sizing: content-box;
	width: 100%;
    margin-bottom: 12px;
}

.stat .title[b-uio9babwbw] {
    box-sizing: content-box;
    display: inline-block;
    height: 2em;
    width: 8em;
    line-height: 2em;
    color: white;
    padding: 0px 8px;
    overflow: hidden;
}
.stat.attribute .title[b-uio9babwbw] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .title[b-uio9babwbw] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .parallelogram[b-uio9babwbw] {
    overflow: hidden;
    box-sizing: content-box;
    display: inline-block;
	width: 25px;
	height: 2em;
    line-height: 2em;
    margin-left: -15px;
	transform: skew(20deg);
}
.stat.attribute .parallelogram[b-uio9babwbw] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .parallelogram[b-uio9babwbw] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .value[b-uio9babwbw] {
    display: inline-block;
    box-sizing: content-box;
	background: white;
    height: 2em;
    width: calc(100% - 12em - 18px);
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 28px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
    overflow: hidden;
}
.stat.attribute .value[b-uio9babwbw] {
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .value[b-uio9babwbw] {
    border: 1px solid rgb(168, 36, 36);
}
.stat .value input[b-uio9babwbw] {
    color: black;
    line-height: 1.5em;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

@media (max-width: 1600px) {
    .w3-half[b-uio9babwbw]{ 
        width: 100% !important;
    }
}
/* /Shared/CharacterPopup.razor.rz.scp.css */
.art[b-6wmp8yanm2] {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.art.Command[b-6wmp8yanm2] {
    background: rgb(136,0,0);
    background: linear-gradient(180deg, rgba(136,0,0,1) 29%, rgba(0,0,0,1) 100%);
}

.art.Operations[b-6wmp8yanm2] {
    background: rgb(224,139,0);
    background: linear-gradient(180deg, rgba(224,139,0,1) 29%, rgba(0,0,0,1) 100%);
}

.art.Sciences[b-6wmp8yanm2] {
    background: rgb(0,146,192);
    background: linear-gradient(180deg, rgba(0,146,192,1) 29%, rgba(0,0,0,1) 100%);
}
.art .character[b-6wmp8yanm2] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.art .top[b-6wmp8yanm2] {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
}

.art .bar[b-6wmp8yanm2] {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.art .bar .actions[b-6wmp8yanm2] {
    padding-left: 4px;
    padding-bottom: 16px;
    padding-right: 4px;
}

.art .bar .divider[b-6wmp8yanm2] {
    height: 16px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #23272a;
}

img.gallery[b-6wmp8yanm2] {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.details[b-6wmp8yanm2] {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

textarea[b-6wmp8yanm2] {
    width: 100%;
    resize: vertical;
    min-height: 4em;
    background: transparent;
    color: white;
}

select[b-6wmp8yanm2] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

select option[b-6wmp8yanm2] {
    color: black;
}

input[b-6wmp8yanm2] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

input:focus[b-6wmp8yanm2] {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

select:focus[b-6wmp8yanm2] {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.stroke[b-6wmp8yanm2] {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.role[b-6wmp8yanm2] {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    height: 8em;
    z-index: 1;
}
.role .content[b-6wmp8yanm2] {
    z-index: 1;
    height: 8em;
    overflow: hidden;
    line-height: 2em;
}

.role img[b-6wmp8yanm2] {
    height: 8em;
    z-index: 2;
}

.stat[b-6wmp8yanm2] {
    box-sizing: content-box;
	width: 100%;
    margin-bottom: 12px;
}

.stat .title[b-6wmp8yanm2] {
    box-sizing: content-box;
    display: inline-block;
    height: 2em;
    width: 6em;
    line-height: 2em;
    color: white;
    padding: 0px 8px;
    overflow: hidden;
}
.stat.attribute .title[b-6wmp8yanm2] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .title[b-6wmp8yanm2] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .parallelogram[b-6wmp8yanm2] {
    overflow: hidden;
    box-sizing: content-box;
    display: inline-block;
	width: 15px;
	height: 2em;
    line-height: 2em;
    margin-left: -15px;
	transform: skew(20deg);
}
.stat.attribute .parallelogram[b-6wmp8yanm2] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .parallelogram[b-6wmp8yanm2] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .value[b-6wmp8yanm2] {
    display: inline-block;
    box-sizing: content-box;
	background: white;
    height: 2em;
    width: calc(100% - 8.5em);
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
    overflow: hidden;
}
.stat.attribute .value[b-6wmp8yanm2] {
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .value[b-6wmp8yanm2] {
    border: 1px solid rgb(168, 36, 36);
}
.stat .value input[b-6wmp8yanm2] {
    color: black;
    line-height: 1.5em;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-axs8p9ae6d] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-axs8p9ae6d] {
    flex: 1;
}

.sidebar[b-axs8p9ae6d] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-axs8p9ae6d] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-axs8p9ae6d]  a, .top-row[b-axs8p9ae6d]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-axs8p9ae6d]  a:hover, .top-row[b-axs8p9ae6d]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-axs8p9ae6d]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-axs8p9ae6d] {
        display: none;
    }

    .top-row.auth[b-axs8p9ae6d] {
        justify-content: space-between;
    }

    .top-row[b-axs8p9ae6d]  a, .top-row[b-axs8p9ae6d]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-axs8p9ae6d] {
        flex-direction: row;
    }

    .sidebar[b-axs8p9ae6d] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-axs8p9ae6d] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-axs8p9ae6d]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-axs8p9ae6d], article[b-axs8p9ae6d] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShipDrawer.razor.rz.scp.css */
.container[b-93cw0whznc] {
    position: relative;
    border: 1px solid black;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 0;
    page-break-after: always;
    background-repeat: no-repeat;
    background-size: cover;
}

textarea[b-93cw0whznc] {
    width: 100%;
    resize: vertical;
    min-height: 4em;
    background: transparent;
    color: white;
}

hr[b-93cw0whznc] {
    border-top-width: 1px;
    border-top-style: dashed;
    margin-top: 2px;
    margin-bottom: 12px;
}

select[b-93cw0whznc] {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

select option[b-93cw0whznc] {
    color: black;
}

input[b-93cw0whznc] {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

input:focus[b-93cw0whznc] {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

select:focus[b-93cw0whznc] {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.stroke[b-93cw0whznc] {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.art[b-93cw0whznc] {
    height: 100%;
    max-width: 100%;
    margin-left: auto;
    object-fit: contain;
    z-index: -1;
}

.role[b-93cw0whznc] {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    height: 8em;
    z-index: 1;
}
.role .content[b-93cw0whznc] {
    z-index: 1;
    height: 8em;
    overflow: hidden;
    line-height: 2em;
}

.role img[b-93cw0whznc] {
    height: 8em;
    z-index: 2;
}

.stat[b-93cw0whznc] {
    box-sizing: content-box;
	width: 100%;
    margin-bottom: 12px;
}

.stat .title[b-93cw0whznc] {
    box-sizing: content-box;
    display: inline-block;
    height: 2em;
    width: 6em;
    line-height: 2em;
    color: white;
    padding: 0px 8px;
    overflow: hidden;
}
.stat.attribute .title[b-93cw0whznc] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .title[b-93cw0whznc] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .parallelogram[b-93cw0whznc] {
    overflow: hidden;
    box-sizing: content-box;
    display: inline-block;
	width: 25px;
	height: 2em;
    line-height: 2em;
    margin-left: -15px;
	transform: skew(20deg);
}
.stat.attribute .parallelogram[b-93cw0whznc] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .parallelogram[b-93cw0whznc] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .value[b-93cw0whznc] {
    display: inline-block;
    box-sizing: content-box;
	background: white;
    height: 2em;
    width: calc(100% - 12em - 18px);
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 28px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
    overflow: hidden;
}
.stat.attribute .value[b-93cw0whznc] {
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .value[b-93cw0whznc] {
    border: 1px solid rgb(168, 36, 36);
}
.stat .value input[b-93cw0whznc] {
    color: black;
    line-height: 1.5em;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

@media (max-width: 1600px) {
    .w3-half[b-93cw0whznc]{
        width: 100% !important;
    }
}
/* /Shared/ShipPopup.razor.rz.scp.css */
.art[b-wdiqbwtu50] {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.art .vessel[b-wdiqbwtu50] {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.art .bar[b-wdiqbwtu50] {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.art .bar .actions[b-wdiqbwtu50] {
    padding-left: 4px;
    padding-bottom: 16px;
    padding-right: 4px;
}

.art .bar .divider[b-wdiqbwtu50] {
    height: 16px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #23272a;
}

img.gallery[b-wdiqbwtu50] {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.round-top-left[b-wdiqbwtu50] {
    border-top-left-radius: 25px;
}

.round-bottom-left[b-wdiqbwtu50] {
    border-bottom-left-radius: 25px;
}

.round-top-right[b-wdiqbwtu50] {
    border-top-right-radius: 25px;
}

.round-bottom-right[b-wdiqbwtu50] {
    border-bottom-right-radius: 25px;
}

.details[b-wdiqbwtu50] {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

textarea[b-wdiqbwtu50] {
    width: 100%;
    resize: vertical;
    min-height: 4em;
    background: transparent;
    color: white;
}

select[b-wdiqbwtu50] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

select option[b-wdiqbwtu50] {
    color: black;
}

input[b-wdiqbwtu50] {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

input:focus[b-wdiqbwtu50] {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

select:focus[b-wdiqbwtu50] {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.stroke[b-wdiqbwtu50] {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.role[b-wdiqbwtu50] {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    height: 8em;
    z-index: 1;
}
.role .content[b-wdiqbwtu50] {
    z-index: 1;
    height: 8em;
    overflow: hidden;
    line-height: 2em;
}

.role img[b-wdiqbwtu50] {
    height: 8em;
    z-index: 2;
}

.stat[b-wdiqbwtu50] {
    box-sizing: content-box;
	width: 100%;
    margin-bottom: 12px;
}

.stat .title[b-wdiqbwtu50] {
    box-sizing: content-box;
    display: inline-block;
    height: 2em;
    width: 6em;
    line-height: 2em;
    color: white;
    padding: 0px 8px;
    overflow: hidden;
}
.stat.attribute .title[b-wdiqbwtu50] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .title[b-wdiqbwtu50] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .parallelogram[b-wdiqbwtu50] {
    overflow: hidden;
    box-sizing: content-box;
    display: inline-block;
	width: 15px;
	height: 2em;
    line-height: 2em;
    margin-left: -15px;
	transform: skew(20deg);
}
.stat.attribute .parallelogram[b-wdiqbwtu50] {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .parallelogram[b-wdiqbwtu50] {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .value[b-wdiqbwtu50] {
    display: inline-block;
    box-sizing: content-box;
	background: white;
    height: 2em;
    width: calc(100% - 8.5em);
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
    overflow: hidden;
}
.stat.attribute .value[b-wdiqbwtu50] {
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .value[b-wdiqbwtu50] {
    border: 1px solid rgb(168, 36, 36);
}
.stat .value input[b-wdiqbwtu50] {
    color: black;
    line-height: 1.5em;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}
/* /Shared/SlideDrawer.razor.rz.scp.css */
.drawer[b-r1908vco0e] {
    background-color: #23272a;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; 
    overflow-y: auto;
}

.fixed-bottom[b-r1908vco0e] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

button[b-r1908vco0e] {
    pointer-events: all;
}
/* /Shared/Starfield.razor.rz.scp.css */
/* Based on https://codepen.io/keithclark/pen/JjWyBb */
.starfield[b-ixd23n84ee] {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    perspective: 340px;
    pointer-events: none;
    z-index: 0;
}

.stars[b-ixd23n84ee] {
  pointer-events: none;
}

.stars[b-ixd23n84ee] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    box-shadow: -1284px -857px #e6e6e6, 1150px 459px #d6d6d6, 772px -127px #c9c9c9, 1177px 847px whitesmoke, 1075px 843px #d9d9d9, 862px 881px #f2f2f2, 773px -738px whitesmoke, 787px 42px #fcfcfc, -99px 502px #d4d4d4, -1075px 758px #fafafa, 1188px 304px #dbdbdb, -9px -787px whitesmoke, -1316px 157px #f0f0f0, -1216px 239px #dedede, -164px -336px #d1d1d1, 412px -432px #c4c4c4, -1209px -406px #fcfcfc, -690px -387px #c9c9c9, -925px -298px #d9d9d9, -1292px 223px #d9d9d9, 1040px 696px #d1d1d1, -376px -371px #f7f7f7, 1425px 455px #ebebeb, 283px 80px #fafafa, -973px -295px #e0e0e0, 327px 346px #d6d6d6, 907px -714px #e8e8e8, -1274px 398px white, -978px -899px #ededed, 1333px -340px #e6e6e6, 76px 22px #dbdbdb, 1448px 320px #d4d4d4, 1321px -809px #d9d9d9, 228px -691px #c9c9c9, 1055px 322px #d4d4d4, 166px -91px #ededed, 1352px -482px #e0e0e0, -464px -86px #f2f2f2, 635px 798px #c2c2c2, 1275px -112px #dedede, -1284px -96px #d1d1d1, 411px 357px #ededed, 172px 431px #f7f7f7, -506px 699px #f7f7f7, -402px -309px #f2f2f2, -1023px -129px #dedede, 536px 876px #e0e0e0, 113px -749px #e3e3e3, 880px -573px #d1d1d1, -998px 436px #d6d6d6, -359px 393px #e8e8e8, 632px 174px #d9d9d9, -446px 280px #d6d6d6, 185px 626px #d1d1d1, -1306px 675px #d9d9d9, -1293px -799px #f0f0f0, 686px 710px #c7c7c7, -1289px 447px #e6e6e6, -200px -693px #cccccc, 813px 84px #d9d9d9, 1326px 534px #dedede, 1302px -58px #ededed, -1401px 152px #d1d1d1, -1040px 408px whitesmoke, -240px -858px #d9d9d9, -993px -199px #fafafa, -623px -130px white, -255px 782px #c9c9c9, 968px -934px white, -528px 69px #ebebeb, -76px -70px #cfcfcf, 384px -942px #d9d9d9, 602px 616px #f7f7f7, 1472px 946px #c2c2c2, -766px 128px #ebebeb, -390px 96px #cfcfcf, -407px 270px #d1d1d1, 176px -407px #d9d9d9, -946px -493px #cfcfcf, -646px -315px white, 744px 199px #fafafa, -805px 343px #c7c7c7, 607px -425px #d6d6d6, -1409px 172px white, -767px 24px #d9d9d9, 1394px 329px #c9c9c9, 1093px -550px #cccccc, -1110px 69px #dbdbdb, 860px -432px #e6e6e6, 340px 620px #c7c7c7, 329px 367px #f2f2f2, -890px -395px #c7c7c7, -772px -13px #cccccc, -36px -786px #d4d4d4, 1239px -74px #cccccc, -815px -104px #d1d1d1, -295px -447px #cfcfcf, 477px 563px #d9d9d9, -255px 60px #c4c4c4, 211px -149px #ebebeb, 929px 313px white, -73px -560px #e6e6e6, -284px 4px #ededed, -419px 280px #f0f0f0, 685px 426px #fafafa, -1318px -120px #d6d6d6, -415px -261px whitesmoke, -1315px -584px #d1d1d1, 1210px 86px whitesmoke, -1441px 649px #cccccc, 899px 944px #d4d4d4, -336px -844px #e6e6e6, -865px 838px #d4d4d4, 1016px 626px #f7f7f7, 464px -83px #d6d6d6, -439px -892px #c9c9c9, 1122px 628px #f7f7f7, -943px 853px #d1d1d1, -299px 547px #f7f7f7, 67px 727px #e0e0e0, -490px 47px white, 68px 865px white, 126px -305px #e3e3e3, 147px -691px #cfcfcf, -840px 747px #cccccc, -226px -280px #fcfcfc, 437px 720px #cccccc, -757px -144px white, -600px 847px white, 1393px -536px #e8e8e8, 1135px 301px #e6e6e6, 629px 482px #d6d6d6, -11px 558px #d6d6d6, -180px -321px #fafafa, -69px -126px #f7f7f7, 844px 301px #f2f2f2, 1271px 149px #dbdbdb, 298px 688px white, 28px -350px #c9c9c9, 21px 620px #e0e0e0, -97px 484px #c4c4c4, 437px -345px #d1d1d1, 999px 486px #f7f7f7, 349px 253px #fafafa, -1282px -122px #d6d6d6, -337px 212px white, 1092px -699px #ededed, 886px 638px #fafafa, 1170px -809px #d9d9d9, -592px -321px whitesmoke, -778px -693px white, 753px 826px whitesmoke, -241px 220px white, 522px 144px #ededed, -693px 419px #f2f2f2, -603px 277px #dedede, 133px -944px #e3e3e3, -919px 261px #e8e8e8, 1316px -489px #ebebeb, 1215px -560px #f0f0f0, -453px 81px #e3e3e3, 1242px 288px #c2c2c2, -330px -866px #f7f7f7, 1340px -598px #cccccc, 987px -656px #d6d6d6, 1311px 816px #f0f0f0, -1411px -767px #d6d6d6, 1111px 446px #e8e8e8, -937px -588px #dedede, -1281px 535px #c2c2c2, -363px 593px #c7c7c7, -1166px 821px #c2c2c2, 228px 69px #d9d9d9, 342px -920px #d4d4d4, -1201px 682px #fafafa, 810px 421px #e6e6e6, -1375px 386px #dedede, -775px -140px #e6e6e6, 1409px 698px #c2c2c2, -550px 540px #f7f7f7, -1075px -795px #c2c2c2, -1083px -592px #cfcfcf, -143px 18px #e6e6e6, -1450px -269px whitesmoke, 407px -683px #ebebeb, -726px -44px white, -936px -813px #c4c4c4, -1489px 723px #d1d1d1, 1390px 422px #dbdbdb, 535px -23px #fafafa, -84px 466px #ebebeb, 1275px -39px #c7c7c7, 207px -857px #c7c7c7, -1392px -563px #f2f2f2, -1343px -119px #c9c9c9, -1222px 104px #ededed, -1182px -306px #ebebeb, 543px -433px #c4c4c4, -1419px -497px #f2f2f2, -675px -636px #f7f7f7, -820px 376px #ebebeb, -391px -62px #dbdbdb, -728px -362px #cfcfcf, -1295px -122px #c4c4c4, 1469px 419px #c7c7c7, 1235px 237px #cccccc, -1487px -831px #f7f7f7, -154px 366px #cfcfcf, -1473px -842px #fafafa, 31px 348px #cfcfcf, -1086px 902px #d1d1d1, 516px -622px #fafafa, -1000px 247px #c2c2c2, -43px -197px #d6d6d6, -363px -740px #ebebeb, -930px 122px #ededed, -1254px 397px #d4d4d4, -241px 494px #f7f7f7, -558px -485px #c7c7c7, 1361px -348px #fcfcfc, 1256px -204px #d4d4d4, 1056px -431px #fafafa, 1019px 742px #cccccc, 1380px -429px #cfcfcf, -275px -534px #e8e8e8, -76px -594px whitesmoke, -493px -939px #e0e0e0, 1201px -346px #c9c9c9, 531px 912px #dbdbdb, -1247px -618px #fcfcfc, 629px 223px #d4d4d4, -870px -15px #f7f7f7, 889px 266px #f2f2f2, 337px -870px #dbdbdb, 204px -805px #c9c9c9, 1263px -515px #f7f7f7, 1094px 345px #dedede, -432px -789px #e3e3e3, -1304px 265px #c7c7c7, 1385px 741px #cfcfcf, -979px 301px #dbdbdb, -1397px -876px #dedede, 1307px 610px #e8e8e8, -456px 953px #ebebeb, -1057px -653px #e8e8e8, -628px -699px #dedede, 1448px -559px white, -104px 801px #d9d9d9, 1190px -770px #e3e3e3, -468px 708px white, 1315px 215px #d4d4d4, 366px 461px white, 778px -123px #d9d9d9, 228px -848px #e0e0e0, 121px -239px whitesmoke, -1408px -625px white, 443px -815px #f0f0f0, -1324px 957px #d9d9d9, -418px 404px #f0f0f0, 1290px -762px #c2c2c2, 1383px -553px #cfcfcf, 1148px -191px #fafafa, 525px 142px #c7c7c7, 324px 574px #cfcfcf, 1451px 430px #cccccc, -390px -306px #cfcfcf, -901px -733px #d4d4d4, 608px -201px #f2f2f2, -451px -635px #e6e6e6, 66px -395px #ebebeb, -1283px -330px #d9d9d9, 854px -495px #ebebeb, -1404px 187px #ededed, -164px -145px #dbdbdb, -1217px -8px #c2c2c2, -200px 8px #c7c7c7, 126px -189px #d1d1d1, 1467px 279px #e3e3e3, 777px 687px whitesmoke, 1032px 167px white, -1316px 382px #f7f7f7, 1108px 324px #c4c4c4, -602px -261px #cccccc, 534px 433px #cccccc, 1453px -831px #ededed, 1420px 390px #e8e8e8, -1469px 578px #e8e8e8, -193px 147px white, 1288px 489px #ededed, -1044px 421px #e0e0e0, -167px 364px #c4c4c4, 401px -717px #c7c7c7, 870px -142px #f2f2f2, 138px 613px #c2c2c2, 893px 605px #f7f7f7, 811px -702px #f2f2f2, 799px 287px whitesmoke, -968px 893px #cfcfcf, 532px -840px #fafafa, -913px -486px whitesmoke, -1083px 570px #d9d9d9, -480px 787px #fafafa, -45px -776px #e0e0e0, -1334px 374px #cccccc, 530px -856px #cccccc, -562px 66px white, 595px 670px #c4c4c4, 296px -492px #f2f2f2, -82px -267px #d4d4d4, -1000px 225px #c2c2c2, -789px 108px #d6d6d6, -570px -673px #c4c4c4, 1209px 789px #d6d6d6, -1444px 452px #fcfcfc, -883px -449px #e0e0e0, 924px -930px #dedede, 440px 709px #d4d4d4, 1289px -114px whitesmoke, 464px -879px #e8e8e8, 779px -210px whitesmoke, 1229px -156px #d4d4d4, 272px -579px #cfcfcf, -791px -408px #fafafa, 437px -5px whitesmoke, -985px -814px #c2c2c2, -488px 142px #d1d1d1, 300px -566px #fafafa, -86px 873px #f0f0f0, -292px 198px #dedede, -730px 224px #c4c4c4, 191px -350px #d1d1d1, 600px 562px #f0f0f0, -973px 487px #ebebeb, 818px 805px #d4d4d4, 343px -681px #f7f7f7, 55px -383px #f2f2f2, -407px 393px #e6e6e6, -432px -86px #e0e0e0, 149px 375px #fafafa, 1353px 139px #f2f2f2, -118px -346px #cccccc, -1376px 685px #f2f2f2, -1237px -569px #ebebeb, -230px -237px #e8e8e8, -91px 874px #e3e3e3, 639px -368px #cfcfcf, -1428px -200px #e0e0e0, 1138px -481px #fcfcfc, 582px -48px #f2f2f2, -804px -277px #ededed, 1463px 27px #cccccc;
    animation: fly-b-ixd23n84ee 3s linear infinite;
    transform-style: preserve-3d;
  }
  .stars[b-ixd23n84ee]:before, .stars[b-ixd23n84ee]:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
  }
  .stars[b-ixd23n84ee]:before {
    transform: translateZ(-300px);
    animation: fade1-b-ixd23n84ee 3s linear infinite;
  }
  .stars[b-ixd23n84ee]:after {
    transform: translateZ(-600px);
    animation: fade2-b-ixd23n84ee 3s linear infinite;
  }
  
  @keyframes fly-b-ixd23n84ee {
    from {
      transform: translateZ(0px);
    }
    to {
      transform: translateZ(300px);
    }
  }
  @keyframes fade1-b-ixd23n84ee {
    from {
      opacity: .5;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade2-b-ixd23n84ee {
    from {
      opacity: 0;
    }
    to {
      opacity: .5;
    }
  }
  
/* /Shared/TabView.razor.rz.scp.css */
.tabs[b-a74n0tll43] {
    text-align: center;
    margin-bottom: 24px;
}

.tab.active[b-a74n0tll43] {
    border-bottom: 2px solid #ff7700;
}
/* /Shared/TitleBlock.razor.rz.scp.css */
header[b-8hiccmdwe0] {
    font-weight: bold;
}

section[b-8hiccmdwe0] {
    background-color: #2c2f33;
    margin-bottom: 16px;
}
/* /Shared/ZoomDrawer.razor.rz.scp.css */
.drawer[b-xo8o4epu15] {
    background-color: #23272a;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20; 
}

.fixed-bottom[b-xo8o4epu15] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

button[b-xo8o4epu15] {
    pointer-events: all;
}
