@inherits BaseDice

<div class="dice">
<div class="d6 @CssClass" @onclick=Roll>
    <div class="face face-1">1</div>
    <div class="face face-2">2</div>
    <div class="face face-3">3</div>
    <div class="face face-4">4</div>
    <div class="face face-5">5</div>
    <div class="face face-6">6</div>
</div>
</div>

@code {
    [Parameter] public D6? dice {get; set;}
    private string CssClass => "d6-show-" + NumericCount;

    public override int NumericCount => (dice?.NumericValue ?? 1);

    public override void Roll() {
        dice?.Roll();
        StateHasChanged();
        OnDiceRoll?.Invoke();
    }
}