@inherits BaseDice

<div class="dice d6 @CssClass" @onclick=Roll>
    <div class="face face-1">
        <img src="ui/challenge-1.png" width="42" height="42"/>
    </div>
    <div class="face face-2">
        <img src="ui/challenge-2.png" width="42" height="42"/>
    </div>
    <div class="face face-3"></div>
    <div class="face face-4"></div>
    <div class="face face-5">
        <img src="ui/challenge-effect.png" width="42" height="42"/>
    </div>
    <div class="face face-6">
        <img src="ui/challenge-effect.png" width="42" height="42"/>
    </div>
</div>

@code {
    [Parameter] public ChallengeDice? dice {get; set;}
    private string CssClass => "d6-show-" + (dice?.D6Value ?? 1);

    public override int NumericCount => (dice?.NumericValue ?? 0);
    public override int EffectCount => (dice?.ChallengeValue ?? ChallengeDiceResult.None) == ChallengeDiceResult.Effect ? 1 : 0;
    
    public override void Roll() {
        dice?.Roll();
        StateHasChanged();
        OnDiceRoll?.Invoke();
    }
}