.art {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.art.Command {
    background: rgb(136,0,0);
    background: linear-gradient(180deg, rgba(136,0,0,1) 29%, rgba(0,0,0,1) 100%);
}

.art.Operations {
    background: rgb(224,139,0);
    background: linear-gradient(180deg, rgba(224,139,0,1) 29%, rgba(0,0,0,1) 100%);
}

.art.Sciences {
    background: rgb(0,146,192);
    background: linear-gradient(180deg, rgba(0,146,192,1) 29%, rgba(0,0,0,1) 100%);
}
.art .character {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.art .top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
}

.art .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.art .bar .actions {
    padding-left: 4px;
    padding-bottom: 16px;
    padding-right: 4px;
}

.art .bar .divider {
    height: 16px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #23272a;
}

img.gallery {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.details {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 4em;
    background: transparent;
    color: white;
}

select {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

select option {
    color: black;
}

input {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

input:focus {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: white;
}

select:focus {
    border: none;
    outline-offset: 0;
    outline-width: 1px;
    outline-color: white;
}

.stroke {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.role {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    height: 8em;
    z-index: 1;
}
.role .content {
    z-index: 1;
    height: 8em;
    overflow: hidden;
    line-height: 2em;
}

.role img {
    height: 8em;
    z-index: 2;
}

.stat {
    box-sizing: content-box;
	width: 100%;
    margin-bottom: 12px;
}

.stat .title {
    box-sizing: content-box;
    display: inline-block;
    height: 2em;
    width: 6em;
    line-height: 2em;
    color: white;
    padding: 0px 8px;
    overflow: hidden;
}
.stat.attribute .title {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .title {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .parallelogram {
    overflow: hidden;
    box-sizing: content-box;
    display: inline-block;
	width: 15px;
	height: 2em;
    line-height: 2em;
    margin-left: -15px;
	transform: skew(20deg);
}
.stat.attribute .parallelogram {
    background: rgb(0, 94, 188);
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .parallelogram {
    background: rgb(168, 36, 36);
    border: 1px solid rgb(168, 36, 36);
}

.stat .value {
    display: inline-block;
    box-sizing: content-box;
	background: white;
    height: 2em;
    width: calc(100% - 8.5em);
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2em;
    overflow: hidden;
}
.stat.attribute .value {
    border: 1px solid rgb(0, 94, 188);
}
.stat.discipline .value {
    border: 1px solid rgb(168, 36, 36);
}
.stat .value input {
    color: black;
    line-height: 1.5em;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}