.act-container {
    margin-top: 0.5em;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    padding-top: 1em;
}

.act-container header {
    text-align: center;
    margin-top: -1.7em;
}
.act-container header span {
    background-color: #2c2f33;
    padding-left: 4px;
    padding-right: 4px;
}

.act-container button {
    width: 18%;
    padding: 0;
    background: transparent !important;
}

.act-container button:hover {
    background: transparent !important;
}
.act-container button:focus {
    background: transparent !important;
}