.briefing {
    padding: 8px 12px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin-bottom: 16px;
}

.advantage {
    background-color: #88ccff;
    color: black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.advantage strong {
    padding: 0px 8px;
    display: inline-block;
}

.advantage p {
    background-color: #e7f5ff;
    color: black;
    padding: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 0;
}


.complication {
    background-color: #ff5555;
    color: black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.complication strong {
    padding: 0px 8px;
    display: inline-block;
}

.complication p {
    background-color: #ff8866;
    color: black;
    padding: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 0;
}

.scene-status {
    padding-top: 6px;
    user-select: none;
    pointer-events: none;
}

.scene-div {
    width: 1.5em;
    display: inline-block;
}