.drawer {
    background-color: #23272a;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 20; 
    overflow-y: auto;
}

.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

button {
    pointer-events: all;
}